main p {
    font-size: 1.5em;
    color: dimgray;
    padding: 10px
}


/*------------ANOS-----------------*/

.container {
    display: flex;
    justify-content: space-between;

    min-height: 70vh;

    box-sizing: border-box;
    padding: 10px 20px;
}

.container > div {
    width: 33%;

    font-size: 10em;
    text-align: center;

    transition: 1s;

    color: white;
    position: relative;
    /* border-bottom: 25px solid; */

    background-color: white;

    cursor: pointer
}

.container > div:nth-child(1) {
    background-color: lightsteelblue;
    /* color: lightsteelblue;
    border-color: lightsteelblue */
}

.container > div:nth-child(2) {
     background-color: burlywood;
    /* color: burlywood;
    border-color: burlywood */
}

.container > div:nth-child(3) {
     background-color: indianred;
    /* color: indianred;
    border-color: indianred */
}

.container > div:nth-child(4) {
     background-color: rebeccapurple;
   /*  color: rebeccapurple;
    border-color: rebeccapurple */
}

.container > div:hover {
    /* color: white; */
    padding: 0 15%
}
/*
.container > div:nth-child(1):hover {
    background-color: lightsteelblue
}

.container > div:nth-child(2):hover {
    background-color: burlywood
}

.container > div:nth-child(3):hover {
    background-color: indianred
}

.container > div:nth-child(4):hover {
    background-color: rebeccapurple
} */

.container > div a {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 12
}


/*------------SEMESTRES-----------------*/

/*------------DATAS-----------------*/
