main p {
    font-size: 1.5em;
    color: dimgray;
    padding: 10px
}


/*------------opt-----------------*/

.opts {
    display: flex;
    justify-content: space-between;

    min-height: 70vh;

    box-sizing: border-box;
    padding: 10px 20px;
}

.opt {
    width: 33%;

    font-size: 10em;
    text-align: center;

    transition: 1s;

    color: white;
    position: relative;
    /* border-bottom: 25px solid; */

    background-color: white;

    cursor: pointer
}

.opt:nth-child(1) {
    background-color: lightsteelblue;
    /* color: lightsteelblue;
    border-color: lightsteelblue */
}

.opt:nth-child(2) {
     background-color: burlywood;
    /* color: burlywood;
    border-color: burlywood */
}

.opt:nth-child(3) {
     background-color: indianred;
    /* color: indianred;
    border-color: indianred */
}

.opt:nth-child(4) {
     background-color: rebeccapurple;
   /*  color: rebeccapurple;
    border-color: rebeccapurple */
}

.opt:hover {
    /* color: white; */
    padding: 0 15%
}
/*
.opt:nth-child(1):hover {
    background-color: lightsteelblue
}

.opt:nth-child(2):hover {
    background-color: burlywood
}

.opt:nth-child(3):hover {
    background-color: indianred
}

.opt:nth-child(4):hover {
    background-color: rebeccapurple
} */

.opt a {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 12
}

/*------------POSTS-----------------*/
.posts {
    min-height: 70vh;

    box-sizing: border-box;
    padding: 0px 20%;
}

.post{
    min-height: 20vh;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5)
}

.post header{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    background-color: saddlebrown
}

.post > div, .post h1{
    height: 100%;
}

.post h1{
    background-color: red
}

.post .data, .pontos{
    color: white;
    font-size: 1.7em
}

.post .data{
    width: 100px;
    background-color: cadetblue
}

.post .pontos{
    width: 100px;
    background-color: teal;
    border-radius: 100%;
    padding: 50px 0

}
