main > p {
    font-size: 1.5em;
    color: dimgray;
    padding: 10px;
    text-align: center
}


/*------------OPÇÕES-----------------*/

.opts {
    display: flex;
    justify-content: space-between;

    min-height: 70vh;

    box-sizing: border-box;
    padding: 10px 20px;

    text-align: center
}

.opt {
    width: 33%;

    font-size: 10em;
    text-align: center;

    transition: 1s;

    color: white;
    position: relative;

    background-color: white;

    cursor: pointer
}

.opt:nth-child(1) {
    background-color: lightsteelblue;
}

.opt:nth-child(2) {
    background-color: burlywood;
}

.opt:nth-child(3) {
    background-color: indianred;
}

.opt:nth-child(4) {
    background-color: rebeccapurple;
}

.opt:hover {
    padding: 0 15%
}

.opt a {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 12
}

/*------------POSTS-----------------*/

.posts {
    min-height: 70vh;

    box-sizing: border-box;
    padding: 20px 5%;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.post {
    height: 100%;
    max-height: 300px;
    width: 500px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    position: relative;
    transition: 0.6s transform;
    border-radius: 10px
}

.post:hover{
    transform: scale(1.05,1.05)
}

.post header {
    height: 70px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    text-align: center;

    color: white;

    border-radius: 10px 10px 0 0
}


.old header{
    background-color: gray;
}
.old .data{
    background-color: dimgray;
}

.new header{
    background-color: gainsboro;
}
.new .data{
    background-color: skyblue;
}

.hot .data{
    background-color: indianred;
}

.post header > div,
.post header h1 {
    height: 100%;
}

.post header h1 {
    font-size: 1.5em;
    font-weight: 500
}

.data, .pontos {
    font-size: 1.3em
}

.data {
    width: 100%;
    max-width: 90px;

    border-top-left-radius: 10px
}

.pontos {
    padding: 0 10px;
    border-top-right-radius: 10px
}

.post main{
    box-sizing: border-box;
    padding: 20px;
    color: dimgray;
    text-align: justify
}
